{{page-title "Index"}}

<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome to Ember Movie Reviews</h5>
    <p class="card-text">Where anyone can review their favorite movies!</p>
    <LinkTo @route="movies" class="btn btn-primary">Go Movies List</LinkTo>
  </div>
</div>
